In [1]:
# funciones
# https://docs.python.org/3/library/functions.html
# https://nbviewer.jupyter.org/

In [2]:
def suma(a,b,c):
    return a+b+c

print (type(suma))

<class 'function'>

In [3]:
suma(2,3,4)

9

In [4]:
a=suma(2,3,4)
print (type(a))
suma(a,a,3)

<class 'int'>

21

In [5]:
def suma2(a,b,c=1):
    return a+b+c

print (suma2(2,2))
print (suma(2,2))

5

TypeError: suma() missing 1 required positional argument: 'c'

In [6]:
suma2(2,2,5)

9

In [7]:
suma2(suma(2,1,4), suma2(2,2), 4)

16

In [8]:
# sin return

def saluda(nombre, lang='es', colega=True):
    s=''
    
    if colega: 
        s='colega!'
    
    if lang=='es':
        print ('Hola {} {}'.format(nombre, s))
        # print (f'Hola {nombre} {s}')
    else:
        print ('Hello {} {}'.format(nombre, s))

        
saluda('Jose', 'en')
saluda('Juan')
saluda('Juan', colega=False)
        
saluda(*['Ana', 'fr'])

Hello Jose colega!
Hola Juan colega!
Hola Juan
Hello Ana colega!

In [9]:
saluda(['Ana', 'fr'])       
saluda('Ana', 'fr')
saluda(*'Ana')
saluda(*'Ana', 'fr')

Hola ['Ana', 'fr'] colega!
Hello Ana colega!
Hello A colega!

TypeError: saluda() takes from 1 to 3 positional arguments but 4 were given

In [10]:
def suma3(a,b,c):
    print ('a={}'.format(a))
    print ('b={}'.format(b))
    print ('c={}'.format(c))

In [11]:
suma3(c=4, a=9, b=2)

a=9
b=2
c=4

In [12]:
suma3(4, 9, 2)

a=4
b=9
c=2

In [13]:
help(suma3)

Help on function suma3 in module __main__:

suma3(a, b, c)

In [14]:
# sin return

def saluda2(nombre, lang='es', colega=True):
    s=''
    
    if colega: 
        s='colega!'
        return 'si'
    if lang=='es':
        print ('Hola {} {}'.format(nombre, s))
        # print (f'Hola {nombre} {s}')
    else:
        print ('Hello {} {}'.format(nombre, s))
    
    return ''

In [15]:
print (saluda('Pepe'))

Hola Pepe colega!
None

In [16]:
# *args al reves

def saludo_multiple(*lst, lang='en'):
    for e in lst:
        saluda(e, lang)

In [20]:
saludo_multiple('Juan', 'Maria', 'Pepe', lang='es')

Hola Juan colega!
Hola Maria colega!
Hola Pepe colega!

In [21]:
def hola():
    pass
hola()

In [29]:
def resta(a,b):
    def multi(c,d):
        return c*d
    return multi(a,b)-a

In [30]:
resta(5,5)

20

In [24]:
multi(5,5)

NameError: name 'multi' is not defined

In [33]:
w=10 # global

def resta(a,b):
    def multi(c,d): # c,d local
        return c*w
    return multi(a,b)-a+w

In [35]:
q=resta(5,5)

In [36]:
resta(q,w)

505

In [39]:
def suma4(*lst):
    print (lst)
    return sum(lst)

a=[1,2,3]
suma4(*a)

(1, 2, 3)

6

In [40]:
def saludo_multiple(*lst, lang='es', vacaciones=True): # (*args, **kwargs)
    print (lst)
    print (lang)
    print (vacaciones)
    
    if vacaciones:
        print ('‚öΩÔ∏è')
    
    for e in lst:
        saluda(e, lang)

In [41]:
config={
    'lang':'en',
    'vacaciones':False
}

In [42]:
saludo_multiple('Juan', 'Maria', 'Ana', **config)

('Juan', 'Maria', 'Ana')
en
False
Hello Juan colega!
Hello Maria colega!
Hello Ana colega!

In [52]:
def suma6(w,b,c,d='Pepe'):
    print (d)
    return w+b+c

In [66]:
v={
    'c':1,
    'b':5,
    'w': 4,
    'd': 'hoy'
}

In [67]:
suma6(**v)

hoy

10

In [68]:
suma6(c=1, b=5, w=9, d='hoy')

hoy

15

In [80]:
def fn (*args, **kwargs):
    print ('Args {}'.format(args))
    print ('Kwargs {}'.format(kwargs))

In [81]:
a=[1,2,3]
fn(a,1,2,4,5, juan=33, pepe=90, **{'hola':'que tal', 'nombre':'yo'})

Args ([1, 2, 3], 1, 2, 4, 5)
Kwargs {'juan': 33, 'pepe': 90, 'hola': 'que tal', 'nombre': 'yo'}

In [83]:
def fn2 (**kwargs):
    print ('Kwargs {}'.format(kwargs))

In [84]:
fn2(juan=33, pepe=90, **{'hola':'que tal', 'nombre':'yo'})

Kwargs {'juan': 33, 'pepe': 90, 'hola': 'que tal', 'nombre': 'yo'}

In [98]:
# callbacks

def nombre_completo(m):
    return '{} {}'.format(m['nombre'], m['apellidos'])

In [86]:
def nombre(a):
    return a['nombre']

In [95]:
def saludo_cool(a):
    return 'üòé '+a['nombre']

In [96]:
alumnos=[
    {'nombre':'Pepe', 'apellidos':'Lopez Garcia'},
    {'nombre':'Maria', 'apellidos':'Diaz Perez'},
    {'nombre':'Juan', 'apellidos':'Garcia Alvarez'}
]

In [97]:
nombre_completo(alumnos[0])

'Pepe Lopez Garcia'

In [100]:
def saluda_alumnos(lst, fn):
    for e in lst:
        print ('Hola {}'.format(fn(e)))

In [101]:
saluda_alumnos(alumnos, nombre_completo)

Hola Pepe Lopez Garcia
Hola Maria Diaz Perez
Hola Juan Garcia Alvarez

In [102]:
saluda_alumnos(alumnos, nombre)

Hola Pepe
Hola Maria
Hola Juan

In [104]:
saluda_alumnos(alumnos, saludo_cool)

Hola üòé Pepe
Hola üòé Maria
Hola üòé Juan

In [105]:
# generadores

def listin():
    t=['1004', '5566', '3673643', '98375918', '98357291']
    print ('Hola')
    for e in t:
        yield '+52 '+ e

In [107]:
print (type(listin()))

<class 'generator'>

In [108]:
for e in listin():
    print ('tlf '+ e)

Hola
tlf +52 1004
tlf +52 5566
tlf +52 3673643
tlf +52 98375918
tlf +52 98357291

In [126]:
def ran(*args): # range(start, stop, step)
    
    if len(args)==1:
        stop=args[0]
        start=0
        step=1
    elif len(args)==2:
        start=args[0]
        stop=args[1]
        step=1
    else:
        start=args[0]
        stop=args[1]
        step=args[2]
        
    
    while start<stop:
        yield start
        start+=step

In [127]:
list(ran(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [128]:
list(ran(1, 5, 0.1))

[1,
 1.1,
 1.2000000000000002,
 1.3000000000000003,
 1.4000000000000004,
 1.5000000000000004,
 1.6000000000000005,
 1.7000000000000006,
 1.8000000000000007,
 1.9000000000000008,
 2.000000000000001,
 2.100000000000001,
 2.200000000000001,
 2.300000000000001,
 2.4000000000000012,
 2.5000000000000013,
 2.6000000000000014,
 2.7000000000000015,
 2.8000000000000016,
 2.9000000000000017,
 3.0000000000000018,
 3.100000000000002,
 3.200000000000002,
 3.300000000000002,
 3.400000000000002,
 3.500000000000002,
 3.6000000000000023,
 3.7000000000000024,
 3.8000000000000025,
 3.9000000000000026,
 4.000000000000003,
 4.100000000000002,
 4.200000000000002,
 4.300000000000002,
 4.400000000000001,
 4.500000000000001,
 4.6000000000000005,
 4.7,
 4.8,
 4.8999999999999995,
 4.999999999999999]

In [129]:
# Strings

lst=['Hola', 'me', 'llamo', 'Pepe']

'üêô'.join(lst)

'HolaüêômeüêôllamoüêôPepe'

In [130]:
' '.join(lst)

'Hola me llamo Pepe'

In [139]:
''.join(lst)

'HolamellamoPepe'

In [131]:
texto='üêô'.join(lst)

In [132]:
texto.split('üêô')

['Hola', 'me', 'llamo', 'Pepe']

In [133]:
list(texto)

['H',
 'o',
 'l',
 'a',
 'üêô',
 'm',
 'e',
 'üêô',
 'l',
 'l',
 'a',
 'm',
 'o',
 'üêô',
 'P',
 'e',
 'p',
 'e']

In [138]:
print (texto)

if texto.startswith('Ho'):
    print ('empieza bien')
else:
    print ('Mal')

HolaüêômeüêôllamoüêôPepe
empieza bien

In [140]:
texto.capitalize()

'Holaüêômeüêôllamoüêôpepe'

In [143]:
texto.upper()

'HOLAüêôMEüêôLLAMOüêôPEPE'

In [144]:
texto.lower()

'holaüêômeüêôllamoüêôpepe'

In [150]:
st=''
for e in texto:
    if e=='o':
        st+=e.upper()
    else:
        st+=e
print (st)

HOlaüêômeüêôllamOüêôPepe

In [151]:
lst=[]
for e in texto.split('üêô'):
    lst.append(e.capitalize())
print(lst)

['Hola', 'Me', 'Llamo', 'Pepe']

In [152]:
'üêô'.join(lst)

'HolaüêôMeüêôLlamoüêôPepe'

In [154]:
'üêô'.join([e.capitalize() for e in texto.split('üêô')])

'HolaüêôMeüêôLlamoüêôPepe'

In [155]:
for e in 'qkbqep√±ihaepiogheas√≤iguhw':
    print (e)

q
k
b
q
e
p
√±
i
h
a
e
p
i
o
g
h
e
a
s
√≤
i
g
u
h
w

In [156]:
print ('a' in texto)

True

In [157]:
texto.title()

'HolaüêôMeüêôLlamoüêôPepe'

In [166]:
d='''     I have have

a car



'''

In [159]:
d.rstrip()

'     I have\n\na car'

In [160]:
d.lstrip()

'I have\n\na car\n\n\n\n'

In [161]:
d.strip()

'I have\n\na car'

In [169]:
d.replace('have', 'tengo')

'     I tengo tengo\n\na car\n\n\n\n'

In [163]:
d.replace('\n', '')

'     I havea car'

In [165]:
d.replace('\n', '').lstrip()

'I havea car'

In [170]:
# RegEX

import re

In [171]:
texto='My neighbor, Mr. @ Rogeneighrs, has 4 44 dogs'

In [172]:
re.findall('neigh', texto)

['neigh', 'neigh']

In [173]:
re.findall('\d', texto)

['4', '4', '4']

In [174]:
re.findall('\d+', texto)

['4', '44']

In [180]:
''.join(re.findall('[a-zA-Z ]', texto))

'My neighbor Mr  Rogeneighrs has   dogs'

In [182]:
len(''.join(re.findall('[a-zA-Z 0-9]', texto)))

41

In [187]:
re.findall('\W+', texto)

[' ', ', ', '. @ ', ', ', ' ', ' ', ' ']

In [190]:
re.findall('(...)', texto)

['My ',
 'nei',
 'ghb',
 'or,',
 ' Mr',
 '. @',
 ' Ro',
 'gen',
 'eig',
 'hrs',
 ', h',
 'as ',
 '4 4',
 '4 d',
 'ogs']

In [191]:
re.sub(' +', '', texto)

'Myneighbor,Mr.@Rogeneighrs,has444dogs'

In [192]:
re.sub('\d', 'A', texto)

'My neighbor, Mr. @ Rogeneighrs, has A AA dogs'

In [196]:
re.compile(r'\b \b')

re.compile(r'\b \b', re.UNICODE)